// Variables

// Colors
$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$ash-gray: #B2BEB5;
$pink: #FFCBDB;
$dark-pink: #F6C;
$brown: #964B00;
$yellow: #FFFF00;
$orange: #FF7F00;
$green: #00FF00;
$lightgreen: #32ff32;
$main-green: #00647D;
$cyan: #00FFFF;
$blue: #0000FF;
$duke-blue: #001A57;
$alice-blue: #F0F8FF;
$violet: #7F00FF;
$black: #000000;
$bourbon: #BD5248;

// Main color
$primary-color: $white;

// Anchor color
$secondary-color: $black;

// Font color
$font-color: $bourbon;
$accent-light: $black;
$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $font-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;


// buttons
$social-buttons-color: $secondary-color;

// borders

$border: #c0c0c0;
