doctype html
html
    head
        title Hydra projects!!!
    body
        h1 We've used gulp-pug to generate this!!!.
        p It seem's it work's for now!!!. :)
    footer
          p © 2016 hydraprojects@hotmail.com


