doctype html public '-//W3C// DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xtml1-strict.dtd'
html(xlmns="http://www.w3.org/1999/xhtml")
    title Hydra projects!!!
    link(lang="css", type="text/css", rel="stylesheet", href="css/main.css")
    script(lang='javascript', type='text/javascript', src='js/main.js')
    body
        h1 We've used gulp-pug to generate this!!!.
        p It seem's it work's for now!!!. :)
        p Okay !!!
        script(lang='javascript', type='text/javascript', src='js/main.js')
        footer
              p Copyright 2016 Hydra Projects.



